@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

/* Reset */

*{
	margin: 0;
	padding: 0;
}

body{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}


/* Componentes */ 

	.largo{
		min-width: 90%;
	}


/* botones */

	.button {
		display:inline-block;
		font-size:1em;
		padding:10px;
		text-align:center;
		text-decoration:none;
		border-radius: 5px;
	}

	.button:active{
		margin-top: 5px;
		box-shadow:0px 0px 0px #373c3c;
	}
	.button:hover{
		cursor: pointer;
	}

	/*Colores*/

	.button.amarillo {
		color: #805B06;
		font-weight: bolder;
		background: #FECB29;
		box-shadow:0px 3px 0px #9D5220;
	}
	.button.amarillo:hover{
		background-color: #FFDE73;
	}

	.button.amarillo:active{
		background-color: #FFDE73;
		margin-top: 5px;
		box-shadow:0px 0px 0px #9D5220;
	}



/* HEADER */

header{
	width: 100%;
	display: flex;
	display: -webkit-flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
}

header #headerleft{
	width: 40%;
}

header #headercenter{
	width: 45%;
}

header #headerright{
	width: 15%;
}

header img#logotipo{
	display: inline-block;	
	padding: 1em;
	width: 350px;
	height: auto;
}

header input#buscador{
	width: 50%;
	padding: 10px 10px 10px 40px;
	border: 1px solid #ADADAD;
	border-radius: 5px;
	background: url(../imgs/lupa.png) 5px 5px no-repeat;
	transition: .3s;
}

header input#buscador:focus{
	width: 65%;	
	border: 1px solid ;	
}


header img#avatar{
	border-radius: 100%;
	height: 80px;
	width: auto;
}

#formularioLogin{
	background-color: #465866;
	border-bottom: 3px solid #3FC6F3;
	display: none;
	width: 100%;
}

#formularioLogin form{
	margin: 0 auto;
	width: 80%;
	padding: 1em;
	text-align: center;
}

#formularioLogin form input{
	padding: 10px;
	border: 1px solid #ADADAD;
}

#formularioLogin form input[type="text"], input[type="password"]{
	width: 20%;
	border-radius: 5px;
}




/* NAV */

nav{
	width: 100%;
	background-color: #222222;
	display: flex;
	display: -webkit-flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: stretch;
	align-items: -webkit-stretch;
}

nav h3{	
	padding: 1em;
}

#navleft{
	width: 15%;
	background-color: #080808;
	text-align: center;
	color: #A3A3A3;
}

#navcenter{
	width: 65%;
	text-align: left;
	text-indent: 2em;
	color: #FFFFFF;
}

#navright{
	width: 20%;
}




/* MAIN */

main{
	overflow: hidden;
	display: flex;
	display: -webkit-flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: stretch;
	align-items: -webkit-stretch;
}


/* ASIDE */

aside{
	width: 15%;	
	background-color: #222222;
}

aside ul li{
	list-style: none;
}

aside ul li a{
	display: block;
	text-align: left;
	color: #9D9D9D;
	text-decoration: none;
	padding: 1em 1em 1em 1.1em;
}

aside ul li a i{
	padding-right: 1em;
}


aside ul li a:hover, aside ul li .active{
	color: #ffffff;
	background-color: #080808;
}




/* SECTION CARRERAS*/ 

.seccion{
	width: 85%;
}

section{
	display: flex;
	display: -webkit-flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: stretch;
	align-items: -webkit-stretch;	
}

section article{
	/* Esto lo meto con FLEX */
	padding: 1em;
	margin: 1em;
	width: 100%;
	/* width: 90%; /* Ancho para los articulos flex */
}

section h1{
	font-weight: 300;
	font-size: 4em;
}

section h2{
	font-weight: 300;
	font-size: 2em;
}



/* FORMULARIOS */

article form input,textarea{
	display: block;
	width: 100%;
	margin: 1em;
	padding: 7px;
	border: 1px solid #ADADAD;
	border-radius: 5px; 
	transition: .3s;
}

article form input:focus{
	border: 1px solid  #CDDC39;	
}

article form input[type="submit"]:hover{
	background: #CDDC39;
	cursor: pointer;
}


/* CARTELES */

section article.cartel{
	width: 20%!important;
}

section article.cartel img{
	display: block;
	margin: 0 auto;
}

section article.cartel h4{
	text-align: center;	
	color:#1C1C1C;
}

section article.cartel p{
	text-align: center;	
	color:#2B2B2B;
}


/* CARRERA INDIVIDUAL */

section#single{
	display: flex;
	display: -webkit-flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: stretch;
	align-items: -webkit-stretch;	
}



/* ACORDEON AYUDA */

.menujq{
	margin-bottom: 2em;
}
.menujq ul {
	list-style: none;
	width: 100%;
}
.menujq h3 {
	padding: 0.3em;
	font-weight: 300;
	background-color: #465866;
	border-bottom: 2px solid #3FC6F3;
	color: #fff;
}
.menujq h3:hover{
	cursor: pointer;
}


/* Símbolo elemento normal */
.menujq ul li h3:before {
	display: inline-block;
	vertical-align: top;
	font-size: 1em;
}

/* Eliminar símbolos para sub-opciones */
.menujq ul li.desplegable ul li h3:before,
.menujq ul li.desplegable.activa ul li h3:before {
	content: "";
}
/* Lista anidada inicialmente oculta */
.menujq ul ul {
	display: none;
	width: 100%;
}
/* Sangrado y segundo color para sub-opciones */
.menujq ul ul li {
	padding: 20px;
	background: #F0F4C3;
	text-transform: capitalize;
}

.menujq ul ul li p{
	width: 90%;
}

.menujq ul ul li img{
	max-width: 500px;
	height: auto;
	margin: 0 auto;
	display: block;
}




/* FOOTER */

footer {
	bottom: 0;
	width: 100%;
	height: auto;
	background-color:#1C1C1C;
	display: flex;
	display: -webkit-flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
	align-items: -webkit-center;
}


footer img{
	-webkit-filter: grayscale(1);
  	filter: grayscale(1);
	max-width: 150px;
	height: auto;
	display: inline-block;
	margin: 0 auto;
	padding: 2em;
}

footer img:hover{
	cursor: pointer;
	-webkit-filter: grayscale(0);
  	filter: grayscale(0);
}

